@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/* global */

body {
  background-color: rgba(208, 189, 196, 0.33);
  font-family: "Lato", sans-serif;
  color: #3a324a;
  font-size: 18px;
  overflow-x: hidden;
}

/*make rows full width */
.row {
  max-width: 100%;
}

.purple-text {
  color: #615868;
  font-weight: bold;
}

/* links */
p a {
  text-decoration: none;
  border-bottom: 2px solid #d0bdc4;
}

a:link,
a:visited {
  color: #615868;
  font-weight: bold;
}

.cta-github a:link,
.cta-github a:visited {
  color: #ded2d2;
  border-bottom: 2px solid #a08079;
}

#credits a {
  color: #efe9eb;
}

#credits a:hover {
  color: white;
}

a:hover {
  color: #353530;
}

/* nav */
ul {
  margin: 0 auto;
  width: 90%;
  list-style: none;
}

#navigation {
  background-color: white;
  width: 100%;
}
.topnav {
  overflow: hidden;
}

nav .fa-linkedin-in path,
nav .fa-github path,
nav .fa-browser path,
nav .fa-file path,
nav .fa-pencil-alt path {
  fill: #615967;
}

/* Style the links inside the navigation bar */

.paradeiser img {
  padding: 1em;
}
.paradeiser .paradeiser_dropdown.active,
.paradeiser .paradeiser_dropdown:hover,
.paradeiser a.active,
.paradeiser a:hover {
  background: #efe9eb;
}

.topnav a {
  float: left;
  display: block;
  color: #615868;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

$hero-height: 60vh;

.not-hero-section {
  padding-top: 4em;
}

.hero-section {
  background: url("../img/desk.jpg");
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

/* intro paragraph */

#intro-paragraph {
  font-weight: bold;
}

.previousgrey {
  color: #848482;
}

.firstcharacter {
  color: #615868;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* headings */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

h3 {
  margin-top: 0.5em;
  font-size: 1.9rem;
  color: #3a324a;
  background-size: 1px 1em;
}

/* row styles */
.row.cta-email {
  background-color: #ffffff;
}

.row.cta-github,
.creative-quote {
  background-color: #615967;
}

img.creative-quote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.row.cta-email p,
.row.cta-github p,
p.creative-quote {
  text-align: center;
  margin: 1em;
}

.row.cta-github p,
p.creative-quote {
  color: white;
}

.row.header {
  padding-bottom: 1em;
}

.row.writing,
.row.about {
  background-color: #a0807938;
}

.row.about,
.row.work,
.row.writing {
  padding-top: 1em;
}

/* footer, social icons, credit, etc. */

.fa-3x {
  font-size: 3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0.2em;
}

/* add spacing between social icons */
svg.social {
  margin: 0.3em;
}

#social-icons a {
  border: none;
}

#credits {
  background-color: #625968;
  color: #efe9eb;
  padding: 2em;
}

.large-6.columns.social-icons {
  text-align: right;
}

a#footer-email {
  color: #efe9eb;
  border-bottom: 2px solid #d0bdc4;
  font-size: 1.1em;
}

img.headshot {
  border-radius: 50%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* on deck to be deprecated */
img.logo {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  cursor: pointer;
  transition: all 300ms ease;
}

img.logo:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

a.logo-link {
  border-bottom: none;
}
/* make portfolio images full width*/

.large-6.columns.tint {
  padding: 0;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(239, 233, 235, 0.3);
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.tint:hover:before {
  background: none;
}

/*add padding for anchor tags*/

:target:before {
  content: "";
  display: block;
  height: 75px; /* fixed header height*/
  margin: -75px 0 0; /* negative fixed header height */
}

/*add background color for description below images*/
p.description {
  background-color: #ded2d2;
  padding: 1em;
}

.button {
  background-color: #625968;
  margin: 0;
}

a.button {
  color: white;
}

.button:hover {
  background-color: #ded2d2;
}

a.button:hover {
  color: #3a324a;
}

.skill {
  background-color: #ffffff5e;
  padding: 0.1em;
}

/* display progress bar at the boom of page */
.progressContainer {
  left: 0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
  display: block;
  table-layout: fixed;
}

.progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: #605767;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
/* debugging ghost elements */
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
