{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monica Powell - Web Developer</title>
    <script src="https://use.fontawesome.com/594c178d6e.js"></script>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <footer>
      <div class="row">
        <div class="large-6 large-centered columns">
        <center><h3>Thank you for visiting!</h3></center>
        </div>
      </row>
      <div class="row">
        <div class="large-6 large-centered columns">
          <center><img src="assets/img/monicapowelllogo.svg" width=150></center>
        </div>
      </row>
      <div class="row">

          <div class="large-12 columns">
        Made with <i class="fa fa-heart" aria-hidden="true"></i> &amp; <i class="fa fa-code" aria-hidden="true"></i>
 in Brooklyn &nbsp;    © Monica Powell, 2017
           </div>
      </div>
   </footer>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
